<ion-view view-title="Proponentes">
<ion-content>
<div class="list">
  <div class="item item-divider">
    Até 10km
  </div>
  <div class="item">
    <h2>Institutos de Arquitetos do Brasil</h2>
    <p>CNPJ: 00.330.555/0001-00</p>
    <p>Esfera Administrativa: Privada</p>
    <p>Município: Brasília - DF</p>
    <p>Responsável: Sergio Ferraz Magalhães</p>
    <p>
     <button ng-click="irParaConvenios()" class="button button-block button-calm button-small">
      Convênios
    </button>
  </p>
</div>
<div class="item">
  <h2>Institutos de Arquitetos do Brasil</h2>
  <p>CNPJ: 00.330.555/0001-00</p>
  <p>Esfera Administrativa: Privada</p>
  <p>Município: Brasília - DF</p>
  <p>Responsável: Sergio Ferraz Magalhães</p>
  <p>
   <button ng-click="irParaConvenios()" class="button button-block button-calm button-small">
    Convênios
  </button>
</p>
</div>
<div class="item">
  <h2>Institutos de Arquitetos do Brasil</h2>
  <p>CNPJ: 00.330.555/0001-00</p>
  <p>Esfera Administrativa: Privada</p>
  <p>Município: Brasília - DF</p>
  <p>Responsável: Sergio Ferraz Magalhães</p>
  <p>
   <button ng-click="irParaConvenios()" class="button button-block button-calm button-small">
    Convênios
  </button>
</p>
</div>
<div class="item">
  <h2>Institutos de Arquitetos do Brasil</h2>
  <p>CNPJ: 00.330.555/0001-00</p>
  <p>Esfera Administrativa: Privada</p>
  <p>Município: Brasília - DF</p>
  <p>Responsável: Sergio Ferraz Magalhães</p>
  <p>
   <button ng-click="irParaConvenios()" class="button button-block button-calm button-small">
    Convênios
  </button>
</p>
</div>
<div class="item item-divider">
    Até 15km
  </div>
<div class="item">
  <h2>Institutos de Arquitetos do Brasil</h2>
  <p>CNPJ: 00.330.555/0001-00</p>
  <p>Esfera Administrativa: Privada</p>
  <p>Município: Brasília - DF</p>
  <p>Responsável: Sergio Ferraz Magalhães</p>
  <p>
    <button ng-click="irParaConvenios()" class="button button-block button-calm button-small">
    Convênios
  </button>
</p>
</div>
</div>
</div>
</ion-content>
</ion-view>
